body {
    background-color: #F7F2BD;
    font-family: sans-serif;
    color: #2F0104;
}

#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-width: 800px;
    background-color: #e4c58d;
    box-shadow: 5px 5px 3px black;
}

header {
    background-color: #CCA965;
}

header img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

nav {
    float: left;
    padding: 20px 20px;
    width: 100px;
}

nav ul {
    font-weight: 800;
    list-style-type: none;
    padding: 0;
    width: 100px;
}

nav a {
    text-decoration: none;
}

a:link {
    color: #82513B;
}

a:visited {
    color: #B08C6C;
}

main {
    background-color: #f7f7c0;
    margin-left: 150px;
    padding: 5px 20px 20px 20px;
}

table {
    border-collapse: collapse;
    margin: auto;
    width: 75%;
    text-align: center;
}

table, th, td {
    border: 2px solid #82513B;
}

th {
    padding: 10px;
    font-size: 24px;
}

td {
    padding: 10px;
    font-size: 20px;
}

p {
    font-size: 20px;
}

footer {
    background-color: #CCA965;
    text-align: center;
    padding: 15px 0;
}




